{% extends "base.html" %}
{% block head %}
    <title xmlns="http://www.w3.org/1999/html">Inicio</title>
    <style>
        .map {
            min-height: 300px;
            padding: 5px 5px;
        }

        .juego{
            background: #dbefff;
            padding: 5px;
            box-sizing:border-box;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #1b98ff;
            margin: 10px 0px;
            text-decoration: none;
        }
    </style>
{% endblock %}

{% block content %}
     <div class="container-fluid">
        <hr>
        <div class="container-header text-center"><h2>Juego {{ juego.id }}</h2></div>
        <hr>
         <div class="container">
            <div class="row">
                <div class="col align-center">
                    <div class="map" id="map"/>
                </div>
            </div>
         </div>
             <form action="/tesorosmod" method="get">
                        {% for tesoro in juego.tesoros %}
                            <div class="row juego">
                                <div class="col">
                                    <h3>Tesoro {{ juego.tesoros[tesoro].identificador }}</h3>
                                    <input type="hidden" id = "ID_{{ juego.tesoros[tesoro].identificador }}" name="ID_{{ juego.tesoros[tesoro].identificador }}" value='{{ juego.tesoros[tesoro].identificador }}'>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <input type="hidden" value="{{ juego.tesoros[tesoro].get_pistas()[1] }}" id="imagen_{{ juego.tesoros[tesoro].identificador }}">
                                            <img src="data:image/gif;base64,{{ juego.tesoros[tesoro].get_pistas()[1] }}"/>
                                        </div>
                                        <div class="col-lg-3">
                                            Texto: <input type="text" id = "pista_texto_{{ juego.tesoros[tesoro].identificador }}"name="pista_texto_{{ juego.tesoros[tesoro].identificador }}" value="{{ juego.tesoros[tesoro].get_pistas()[0]}}">
                                        </div>
                                        <div class="col-lg-5">
                                            Imagen: <input type="file" name="pista_imagen_{{ juego.tesoros[tesoro].identificador }}" id ="pista_imagen_{{ juego.tesoros[tesoro].identificador }}">
                                        </div>
                                    </div>
                                </div>
                             </div>
                        {% endfor %}
                 <div class="col text-center">
                    <br>
                    <input type="submit" value="OK" onclick="msg()">
                 </div>
             </form>
         </div>

        <script type="text/javascript">
        var x = 1;
         var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([-4.4785522, 36.7151063]),
                zoom: 4
            })
        });

    </script>
{% endblock %}