{% extends "base.html" %}
{% block head %}
    <title>Inicio</title>
    <style>
        .map {
            min-height: 30vh;
            padding: 5px 5px;
        }

        li {
            margin-left: 15px;
            list-style: none;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <hr>
        <h1 class="text-center">Bienvenido a Caza del Tesoro</h1>
        <hr>
        <div class="row flex-x1-nowrap">
            <div class="offset-lg-2 col-lg-7 col-9">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="activos-tab" data-toggle="tab" href="#activos"
                           role="tab" aria-controls="activos" aria-selected="true">Mis Juegos activos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id=finalizados-tab" data-toggle="tab" href="#finalizados"
                           role="tab" aria-controls="finalizados" aria-selected="false">Mis Juegos finalizados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="todosActivos-tab" data-toggle="tab" href="#todosActivos" role="tab"
                           aria-controls="todosActivos" aria-selected="false">Todos los juegos activos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="todosAcabados-tab" data-toggle="tab" href="#todosAcabados" role="tab"
                           aria-controls="todosAcabados" aria-selected="false">Todos los juegos acabados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="administracion-tab" data-toggle="tab" href="#administracion" role="tab"
                           aria-controls="administracion" aria-selected="false">Administrar mis juegos</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="activos" role="tabpanel" aria-labelledby="activos-tab">
                        {% if mis_juegos_activos %}
                            {% for juego in mis_juegos_activos %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="offset-lg-1 col-lg-5 col-6">
                                                <p class="card-title text-left" style="font-size: large">
                                                    <b>{{ juego.titulo }}</b></p>
                                                <p class="card-text"><small><i>{{ juego.descripcion }}</i></small><br>
                                                    <small><i>Creador: {{ juego.creador }}</i></small></p>
                                                <ul>
                                                    <li>Tesoros total: {{ juego.tesoros | length }}</li>
                                                    <li>Tesoros restantes: {{ juego.tesoros_restantes }}</li>
                                                    <li>Mis tesoros
                                                        encontrados: {{ juego.participantes[user.id_mongo_str]['tesoros'] }}</li>
                                                </ul>
                                                <a class="btn btn-primary" href="/juego/{{ juego.id }}">Entrar al
                                                    juego</a>
                                            </div>
                                            <div class="col-6">
                                                <div style="max-height: 200px !important; min-height: 200px !important;"
                                                     class="map" id="map"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4 class="text-center" style="margin-top: 15px;">No estas participando en ning&uacute;n
                                juego.</h4>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="finalizados" role="tabpanel" aria-labelledby="finalizados-tab">
                        {% if mis_juegos_acabados %}
                            {% for juego in mis_juegos_acabados %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="offset-lg-1 col-lg-5 col-6">
                                                <p class="card-title text-left" style="font-size: large">
                                                    <b>{{ juego.titulo }}</b></p>
                                                <p class="card-text"><small><i>{{ juego.descripcion }}</i></small><br>
                                                    <small><i>Creador: {{ juego.creador }}</i></small></p>
                                                <ul>
                                                    <li>Tesoros total: {{ juego.tesoros | length }}</li>
                                                    <li>Ganador: {{ juego.ganador }}</li>
                                                    <li>Mis tesoros
                                                        encontrados: {{ juego.participantes[user.id_mongo_str]['tesoros'] }}</li>
                                                </ul>
                                                <a class="btn btn-primary" href="/juego/{{ juego.id }}">Entrar al
                                                    juego</a>
                                            </div>
                                            <div class="col-6">
                                                <div style="max-height: 200px !important; min-height: 200px !important;"
                                                     class="map" id="map"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4 class="text-center" style="margin-top: 15px;">No se ha terminado ning&uacute;n juego en
                                el que seas participante.</h4>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="todosActivos" role="tabpanel" aria-labelledby="todosActivos-tab">
                        {% if juegos_activos %}
                            {% for juego in juegos_activos %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="offset-lg-1 col-lg-5 col-6">
                                                <p class="card-title text-left" style="font-size: large">
                                                    <b>{{ juego.titulo }}</b>
                                                    {% if user.id_mongo_str in juego.participantes %}
                                                        <i class="text-success"> (Participando) </i>
                                                    {% endif %}
                                                </p>
                                                    <p class="card-text"><small><i>{{ juego.descripcion }}</i></small><br>
                                                        <small><i>Creador: {{ juego.creador }}</i></small></p>
                                                <ul>
                                                    <li>Tesoros total: {{ juego.tesoros | length }}</li>
                                                    <li>Tesoros restantes: {{ juego.tesoros_restantes }}</li>
                                                    {% if user.id_mongo_str in juego.participantes %}
                                                       <li>Mis tesoros encontrados: {{ juego.participantes[user.id_mongo_str]['tesoros'] }}</li>
                                                    {% endif %}
                                                </ul>
                                                {% if user.id_mongo_str not in juego.participantes %}
                                                    <a href="/anadirJuego/{{ juego.id }}" class="btn btn-primary" style="margin-top: 5px;">Unirme al juego</a>
                                                {% else %}
                                                    <a class="btn btn-primary" href="/juego/{{ juego.id }}">Entrar al juego</a>
                                                {% endif %}
                                            </div>
                                            <div class="col-6">
                                                <div style="max-height: 200px !important; min-height: 200px !important;"
                                                     class="map" id="map"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4 class="text-center" style="margin-top: 15px;">No hay ning&uacute;n juego activo en el sistema.</h4>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="todosAcabados" role="tabpanel" aria-labelledby="todosAcabados-tab">
                            {% if juegos_acabados %}
                                {% for juego in juegos_acabados %}
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="offset-lg-1 col-lg-5 col-6">
                                                    <p class="card-title text-left" style="font-size: large">
                                                        <b>{{ juego.titulo }}</b></p>
                                                    <p class="card-text"><small><i>{{ juego.descripcion }}</i></small><br>
                                                        <small><i>Creador: {{ juego.creador }}</i></small></p>
                                                    <ul>
                                                        <li>Tesoros total: {{ juego.tesoros | length }}</li>
                                                        <li>Ganador: {{ juego.ganador }}</li>
                                                    </ul>
                                                    <a class="btn btn-primary" href="/juego/{{ juego.id }}">Entrar al
                                                        juego</a>
                                                </div>
                                                <div class="col-6">
                                                    <div style="max-height: 200px !important; min-height: 200px !important;"
                                                         class="map" id="map"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h4 class="text-center" style="margin-top: 15px;">No se ha terminado ning&uacute;n juego en
                                    el sistema.</h4>
                            {% endif %}
                        </div>
                        <div class="tab-pane fade" id="administracion" role="tabpanel" aria-labelledby="administracion-tab">
                            {% if juegos_creados %}
                                {% for juego in juegos_creados %}
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="offset-lg-1 col-lg-5 col-6">
                                                    <p class="card-title text-left" style="font-size: large">
                                                        <b>{{ juego.titulo }}</b></p>
                                                     <p class="card-text"><small><i>{{ juego.descripcion }}</i></small></p>
                                                    <ul>
                                                        <li>Tesoros total: {{ juego.tesoros | length }}</li>
                                                        <li>Tesoros restantes: {{ juego.tesoros_restantes }}</li>
                                                    </ul>
                                                    <a class="btn btn-primary" href="/verJuego/{{ juego.id }}">Visualizar juego</a>
                                                </div>
                                                <div class="col-6">
                                                    <div style="max-height: 200px !important; min-height: 200px !important;"
                                                         class="map" id="map"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h4 class="text-center" style="margin-top: 15px;">No has creado ning&uacute;n juego.</h4>
                            {% endif %}
                        </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-light">
                    <div class="card-header text-center">
                        <h3>Opciones</h3>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <a class="btn btn-success" href="/nuevoJuego">P&aacute;gina de creaci&oacute;n</a>
                            <br>
                            <small class="form-text text-muted"><b>
                                <i class="help-block">Ir a la p&aacute;gina de creaci&oacute;n de juegos</i></b></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {#            <div class="overlay" id="overlay">#}
        {#                <div class="popup" id="popup" style="max-width: 400px;">#}
        {#                    <a id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>#}
        {#                    <h3>Añadir juego</h3>#}
        {#                    <br>#}
        {#                    <h4>ID del juego: </h4>#}
        {#                    <form id="insertar-tesoro" action="/añadirJuego" method="post">#}
        {#                        <div class="contenedor-inputs">#}
        {#                            <input type="text" name="id_juego" id="id_juego" maxlength="24"/>#}
        {#                        </div>#}
        {#                        <input type="submit" class="btn-submit" id="btn-submit" name="submitted" value="Añadir"#}
        {#                               style="margin-top: 30px;"/>#}
        {#                    </form>#}
        {#                </div>#}
        {#            </div>#}
        {#        </div>#}

        <script type="text/javascript">
            const markerSource = new ol.source.Vector();
            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                    new ol.layer.Vector({
                        source: markerSource
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([-4.4785522, 36.7151063]),
                    zoom: 4
                })
            });

            var puntosPuestos = new Map();

            map.on('click', function (evt) {
                var pos = ol.proj.transform(evt.coordinate, 'EPSG:3857', 'EPSG:4326');
                addMarker(pos[0], pos[1]);
                var x = map.getFeaturesAtPixel(evt.pixel);
                for (var y of x) {
                    markerSource.removeFeature(y);
                    alert("eliminado" + y.ol_iud)
                }
            });

            function addMarker(lon, lat) {
                console.log('lon:', lon);
                console.log('lat:', lat);
                /* for (var icono of puntosPuestos.values()) {
                     markerSource.removeFeature(icono);
                 }*/
                var iconFeature = new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.transform([lon, lat], 'EPSG:4326',
                        'EPSG:3857')),
                    population: 4000,
                    rainfall: 500
                });

                var myStyle = new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: 7,
                        fill: new ol.style.Fill({color: 'yellow'}),
                        stroke: new ol.style.Stroke({
                            color: [255, 204, 0], width: 2
                        })
                    })
                });
                iconFeature.setStyle(myStyle);
                markerSource.addFeature(iconFeature);
                puntosPuestos.set(lon + lat, iconFeature);
            }


            $('#unirse-juego').click(function () {
                $("#overlay").addClass("active");
                $("#popup").addClass("active");
            });

            $('#btn-cerrar-popup').click(function () {
                $("#overlay").removeClass("active");
                $("#popup").removeClass("active");
            });

        </script>
    </div>
{% endblock %}