{% extends "base.html" %}
{% block head %}
    <title>Inicio</title>
    <style>
        .map {
            min-height: 200px;
            padding: 5px 5px;
        }
        .sidebar{
            background: #7ebff5;
            padding: 20px;
            box-sizing:border-box;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #1b98ff;
            margin: 10px 0px;
            box-sizing: border-box;
        }
        .juego{
            background: #dbefff;
            padding: 5px;
            box-sizing:border-box;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #1b98ff;
            margin: 10px 0px;
            box-sizing: border-box;
        }
        .ganado {
            background: #6fff2d;
            border: 1px solid #0f7e00;
        }
        .perdido{
            background: #ff4343;
            border: 1px solid #7e0000;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <hr>
        <div class="container-header text-center"><h2>Bienvenido a Caza del Tesoro</h2></div>
        <hr>

        <div class="row text-center">
            <div class="col">
                <br>
                <h3>Mis juegos</h3>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-10 col-lg-9">
                <div class="row">
                    <!-- JUEGOS ACTIVOS -->
                    <div class="col">
                        <h3>Juegos activos</h3>
                        {% if juegos_activos %}
                            {% for juego in juegos_activos %}
                                <div class="row juego">
                                    <!-- DATOS -->
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p>Tesoros total: {{ juego.tesoros.keys() | max }}</p>
                                                <p>Tesoros restantes: {{juego.tesoros_restantes}}</p>
                                            </div>

                                            <div class="col-sm-6">
                                                <p>Participantes:</p>
                                                {% for participante in juego.participantes %}
                                                    <li>{{juego.participantes[participante]['email']}}</li>
                                                {% endfor %}
                                            </div>

                                            <div class="col-sm-6">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- MAPAS -->
                                    <div class="col-sm-3 map" id="map"></div>
                                </div>
                            {% endfor %}
                        {% else %}
                             <div class="row">
                                <div class="col">
                                    <p>No existe ningun juego activo</p>
                                </div>
                             </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <!-- JUEGOS ACABADOS -->
                    <div class="col">
                        <h3>Juegos acabados</h3>
                        {% if juegos_acabados %}
                            {% for juego in juegos_acabados %}
                            {% if user.id == juego.ganador %} <!-- Si el ganador es el usuario se pone en verde -->
                                <div class="row juego ganado">
                            {% else %}
                                <div class="row juego perdido">
                            {% endif %}
                                    <!-- DATOS -->
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p>Tesoros total: {{ juego.tesoros.keys() | max }}</p>
                                                <p>Tesoros restantes: {{juego.tesoros_restantes}}</p>
                                                {% if juego.ganador != "" %}
                                                    <p>Ganador: {{juego.ganador}}</p>
                                                {% endif %}
                                            </div>

                                            <div class="col-sm-6">
                                                <p>Participantes:</p>
                                                {% for participante in juego.participantes %}
                                                    <li>{{juego.participantes[participante]['email']}}</li>
                                                {% endfor %}
                                            </div>

                                            <div class="col-sm-3">

                                            </div>

                                        </div>
                                    </div>
                                    <!-- MAPAS -->
                                    <div class="col-sm-3 map" id="map"></div>
                                </div>
                            {% endfor %}
                        {% else %}
                             <div class="row">
                                <div class="col">
                                    <p>No existe ningun juego acabado</p>
                                </div>
                             </div>
                        {% endif %}
                    </div>
                </div>

                <div class="row">
                    <!-- JUEGOS CREADOS -->
                    <div class="col">
                        <h3>Juegos creados</h3>
                        {% if juegos_creados %}
                            {% for juego in juegos_creados %}
                                {% if juego.ganador != "" %}
                                    {% if user.id == juego.ganador %} <!-- Si el ganador es el usuario se pone en verde -->
                                        <div class="row juego ganado">
                                    {% else %}
                                        <div class="row juego perdido">
                                    {% endif %}
                                {% else %}
                                    <div class="row juego">
                                {% endif %}
                                    <!-- DATOS -->
                                    <div class="col-sm-9">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <p>Tesoros total: {{ juego.tesoros.keys() | max }}</p>
                                                <p>Tesoros restantes: {{juego.tesoros_restantes}}</p>
                                                {% if juego.ganador != "" %}
                                                    <p>Ganador: {{juego.ganador}}</p>
                                                {% endif %}
                                            </div>

                                            <div class="col-sm-6">
                                                <p>Participantes:</p>
                                                {% for participante in juego.participantes %}
                                                    <li>{{juego.participantes[participante]['email']}}</li>
                                                {% endfor %}
                                            </div>

                                            <div class="col-sm-3">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- MAPAS -->
                                    <div class="col-sm-3 map" id="map"></div>
                                </div>
                            {% endfor %}
                        {% else %}
                             <div class="row">
                                <div class="col">
                                    <p>No existe ningun juego creado</p>
                                </div>
                             </div>
                        {% endif %}
                    </div>
                </div>

            </div>
            <div class="col-xl-2 col-lg-3 ">
                <br>
                <!-- SIDEBAR -->
                <div class="sidebar">
                    <h3>Opciones</h3>
                    <p>
                        <li id="" class=""><a href="/nuevoJuego">Crear juego</a></li>
                        <li id="" class=""><a href="#">Participar</a></li>
                    </p>

                </div>
            </div>
        </div>
    </div>
<div ></div>
    <script type="text/javascript">
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([-4.4785522, 36.7151063]),
                zoom: 4
            })
        });
        var map2 = new ol.Map({
            target: 'map2',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([-4.4785522, 36.7151063]),
                zoom: 4
            })
        });
    </script>
{% endblock %}