{% extends "base.html" %}
{% block head %}
    <title>Inicio</title>
    <style>
        .map {
            min-height: 30vh;
            padding: 5px 5px;
        }

        li {
            margin-left: 15px;
            list-style: none;
        }
    </style>
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <hr>
        <h1 class="text-center">Bienvenido a Caza del Tesoro</h1>
        <hr>
        <div class="row flex-x1-nowrap">
            <div class="offset-lg-2 col-lg-7 col-9">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="activos-tab" data-toggle="tab" href="#activos"
                           role="tab" aria-controls="activos" aria-selected="true" onclick="recargarMapas()">Mis
                            Juegos
                            activos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id=finalizados-tab" data-toggle="tab" href="#finalizados"
                           role="tab" aria-controls="finalizados" aria-selected="false"
                           onclick="recargarMapas()">Mis Juegos finalizados</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="todosActivos-tab" data-toggle="tab" href="#todosActivos" role="tab"
                           aria-controls="todosActivos" aria-selected="false" onclick="recargarMapas()">Todos
                            los
                            juegos activos</a>
                    </li>
                    {% if user.get_admin %}
                        <li class="nav-item">
                            <a class="nav-link" id="todosAcabados-tab" data-toggle="tab" href="#todosAcabados"
                               role="tab"
                               aria-controls="todosAcabados" aria-selected="false" onclick="recargarMapas()">Todos
                                los
                                juegos acabados</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" id="administracion-tab" data-toggle="tab" href="#administracion" role="tab"
                           aria-controls="administracion" aria-selected="false" onclick="recargarMapas()">Mis
                            juegos
                            creados</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="activos" role="tabpanel" aria-labelledby="activos-tab">
                        {% if mis_juegos_activos %}
                            {% for juego in mis_juegos_activos %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="offset-lg-1 col-lg-5 col-6">
                                                <p class="card-title text-left" style="font-size: large">
                                                    <b>{{ juego.titulo }}</b></p>
                                                <p class="card-text">
                                                    <small><i>{{ juego.descripcion }}</i></small>
                                                    <br>
                                                    <small><i>Creador: {{ juego.creador }}</i></small>
                                                </p>
                                                <ul>
                                                    <li>Tesoros total: {{ juego.tesoros | length }}</li>
                                                    <li>Tesoros restantes: {{ juego.tesoros_restantes }}</li>
                                                    <li>Mis tesoros
                                                        encontrados: {{ juego.participantes[user.id_mongo_str]['tesoros'] }}</li>
                                                </ul>
                                                {% if user.get_admin %}
                                                    <a class="btn btn-info" href="/participante/juego/{{ juego.id }}">Entrar al
                                                        juego</a>
                                                    <a class="btn btn-primary" href="/organizador/verJuego/{{ juego.id }}">Visualizar
                                                        juego</a>
                                                {% else %}
                                                    <a class="btn btn-primary" href="/participante/juego/{{ juego.id }}">Entrar al
                                                        juego</a>
                                                {% endif %}
                                            </div>
                                            <div class="col-6">
                                                <div style="max-height: 200px !important; min-height: 200px !important;"
                                                     class="map"
                                                     id="map_{{ juego.id }}_{{ range(1, 6000) | random }}">
                                                    <input hidden type="text" class="dimensiones"
                                                           value="{{ juego.dimensiones[3] }}~{{ juego.dimensiones[1] }}">
                                                    <input hidden type="text" class="centro"
                                                           value="{{ juego.centro[0] }},{{ juego.centro[1] }}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4 class="text-center" style="margin-top: 15px;">No estas participando en ning&uacute;n
                                juego.</h4>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="finalizados" role="tabpanel" aria-labelledby="finalizados-tab">
                        {% if mis_juegos_acabados %}
                            {% for juego in mis_juegos_acabados %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="offset-lg-1 col-lg-5 col-6">
                                                <p class="card-title text-left" style="font-size: large">
                                                    <b>{{ juego.titulo }}</b></p>
                                                <p class="card-text">
                                                    <small><i>{{ juego.descripcion }}</i></small>
                                                    <br>
                                                    <small><i>Creador: {{ juego.creador }}</i></small>
                                                </p>
                                                <ul>
                                                    <li>Tesoros total: {{ juego.tesoros | length }}</li>
                                                    <li>Ganador: {{ juego.ganador }}</li>
                                                    <li>Mis tesoros
                                                        encontrados: {{ juego.participantes[user.id_mongo_str]['tesoros'] }}</li>
                                                </ul>
                                                {% if user.get_admin %}
                                                    <a class="btn btn-info" href="/participante/juego/{{ juego.id }}">Entrar al
                                                        juego</a>
                                                    <a class="btn btn-primary" href="/organizador/verJuego/{{ juego.id }}">Administrar
                                                        juego</a>
                                                {% else %}
                                                    <a class="btn btn-primary" href="/participante/juego/{{ juego.id }}">Entrar al
                                                        juego</a>
                                                {% endif %}
                                            </div>
                                            <div class="col-6">
                                                <div style="max-height: 200px !important; min-height: 200px !important;"
                                                     class="map"
                                                     id="map_{{ juego.id }}_{{ range(1, 6000) | random }}">
                                                    <input hidden type="text" class="dimensiones"
                                                           value="{{ juego.dimensiones[3] }}~{{ juego.dimensiones[1] }}">
                                                    <input hidden type="text" class="centro"
                                                           value="{{ juego.centro[0] }},{{ juego.centro[1] }}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4 class="text-center" style="margin-top: 15px;">No se ha terminado ning&uacute;n juego en
                                el que seas participante.</h4>
                        {% endif %}
                    </div>
                    <div class="tab-pane fade" id="todosActivos" role="tabpanel" aria-labelledby="todosActivos-tab">
                        {% if juegos_activos %}
                            {% for juego in juegos_activos %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="offset-lg-1 col-lg-5 col-6">
                                                <p class="card-title text-left" style="font-size: large">
                                                    <b>{{ juego.titulo }}</b>
                                                    {% if user.id_mongo_str in juego.participantes %}
                                                        <i class="text-success"> (Participando) </i>
                                                    {% endif %}
                                                </p>
                                                <p class="card-text">
                                                    <small><i>{{ juego.descripcion }}</i></small>
                                                    <br>
                                                    <small><i>Creador: {{ juego.creador }}</i></small>
                                                </p>
                                                <ul>
                                                    <li>Tesoros total: {{ juego.tesoros | length }}</li>
                                                    <li>Tesoros restantes: {{ juego.tesoros_restantes }}</li>
                                                    {% if user.id_mongo_str in juego.participantes %}
                                                        <li>Mis tesoros
                                                            encontrados: {{ juego.participantes[user.id_mongo_str]['tesoros'] }}</li>
                                                    {% endif %}
                                                </ul>
                                                {% if user.get_admin %}
                                                    {% if user.id_mongo_str not in juego.participantes %}
                                                        <a href="/participante/anadirJuego/{{ juego.id }}" class="btn btn-info"
                                                           style="margin-top: 5px;">Unirme al juego</a>
                                                    {% else %}
                                                        <a class="btn btn-info" href="/participante/juego/{{ juego.id }}">Entrar
                                                            al juego</a>
                                                    {% endif %}
                                                    <a class="btn btn-primary" href="/organizador/verJuego/{{ juego.id }}">Administrar
                                                        juego</a>
                                                {% else %}
                                                    {% if user.id == juego.creador %}
                                                        <a class="btn btn-primary" href="/organizador/verJuego/{{ juego.id }}">Administrar
                                                            juego</a>
                                                    {% else %}
                                                        {% if user.id_mongo_str not in juego.participantes %}
                                                            <a href="/participante/anadirJuego/{{ juego.id }}"
                                                               class="btn btn-primary" style="margin-top: 5px;">Unirme
                                                                al juego</a>
                                                        {% else %}
                                                            <a class="btn btn-primary" href="/participante/juego/{{ juego.id }}">Entrar
                                                                al juego</a>
                                                        {% endif %}
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                            <div class="col-6">
                                                <div style="max-height: 200px !important; min-height: 200px !important;"
                                                     class="map"
                                                     id="map_{{ juego.id }}_{{ range(1, 6000) | random }}">
                                                    <input hidden type="text" class="dimensiones"
                                                           value="{{ juego.dimensiones[3] }}~{{ juego.dimensiones[1] }}">
                                                    <input hidden type="text" class="centro"
                                                           value="{{ juego.centro[0] }},{{ juego.centro[1] }}"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4 class="text-center" style="margin-top: 15px;">No hay ning&uacute;n juego activo en el
                                sistema.</h4>
                        {% endif %}
                    </div>
                    {% if user.get_admin %}
                        <div class="tab-pane fade" id="todosAcabados" role="tabpanel"
                             aria-labelledby="todosAcabados-tab">
                            {% if juegos_acabados %}
                                {% for juego in juegos_acabados %}
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="offset-lg-1 col-lg-5 col-6">
                                                    <p class="card-title text-left" style="font-size: large">
                                                        <b>{{ juego.titulo }}</b></p>
                                                    <p class="card-text">
                                                        <small><i>{{ juego.descripcion }}</i></small>
                                                        <br>
                                                        <small><i>Creador: {{ juego.creador }}</i></small>
                                                    </p>
                                                    <ul>
                                                        <li>Tesoros total: {{ juego.tesoros | length }}</li>
                                                        <li>Ganador: {{ juego.ganador }}</li>
                                                    </ul>
                                                    {% if user.id_mongo_str in juego.participantes %}
                                                        <a class="btn btn-info" href="/participante/juego/{{ juego.id }}">Entrar
                                                            al juego</a>
                                                    {% endif %}
                                                    <a class="btn btn-primary" href="/organizador/verJuego/{{ juego.id }}">Administrar
                                                        juego</a>
                                                </div>
                                                <div class="col-6">
                                                    <div style="max-height: 200px !important; min-height: 200px !important;"
                                                         class="map"
                                                         id="map_{{ juego.id }}_{{ range(1, 6000) | random }}">
                                                        <input hidden type="text" class="dimensiones"
                                                               value="{{ juego.dimensiones[3] }}~{{ juego.dimensiones[1] }}">
                                                        <input hidden type="text" class="centro"
                                                               value="{{ juego.centro[0] }},{{ juego.centro[1] }}">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <h4 class="text-center" style="margin-top: 15px;">No se ha terminado ning&uacute;n juego
                                    en
                                    el sistema.</h4>
                            {% endif %}
                        </div>
                    {% endif %}

                    <div class="tab-pane fade" id="administracion" role="tabpanel" aria-labelledby="administracion-tab">
                        {% if juegos_creados %}
                            {% for juego in juegos_creados %}
                                <div class="card">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="offset-lg-1 col-lg-5 col-6">
                                                <p class="card-title text-left" style="font-size: large">
                                                    <b>{{ juego.titulo }}</b></p>
                                                <p class="card-text">
                                                    <small><i>{{ juego.descripcion }}</i></small>
                                                </p>
                                                <ul>
                                                    <li>Tesoros total: {{ juego.tesoros | length }}</li>
                                                    <li>Tesoros restantes: {{ juego.tesoros_restantes }}</li>
                                                </ul>
                                                {% if user.get_admin %}
                                                    {% if user.id_mongo_str not in juego.participantes %}
                                                        <a href="/participante/anadirJuego/{{ juego.id }}" class="btn btn-info"
                                                           style="margin-top: 5px;">Unirme al juego</a>
                                                    {% else %}
                                                        <a class="btn btn-info" href="/participante/juego/{{ juego.id }}">Entrar
                                                            al juego</a>
                                                    {% endif %}
                                                {% endif %}
                                                <a class="btn btn-primary" href="/organizador/verJuego/{{ juego.id }}">Administrar
                                                    juego</a>
                                            </div>
                                            <div class="col-6">
                                                <div style="max-height: 200px !important; min-height: 200px !important;"
                                                     class="map"
                                                     id="map_{{ juego.id }}_{{ range(1, 6000) | random }}">
                                                    <input hidden type="text" class="dimensiones"
                                                           value="{{ juego.dimensiones[3] }}~{{ juego.dimensiones[1] }}">
                                                    <input hidden type="text" class="centro"
                                                           value="{{ juego.centro[0] }},{{ juego.centro[1] }}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <h4 class="text-center" style="margin-top: 15px;">No has creado ning&uacute;n juego.</h4>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card bg-light">
                    <div class="card-header text-center">
                        <h3>Opciones</h3>
                    </div>
                    <div class="card-body">
                        <div class="text-center">
                            <a class="btn btn-success" href="/organizador/nuevoJuego">P&aacute;gina de creaci&oacute;n</a>
                            <br>
                            <small class="form-text text-muted"><b>
                                <i class="help-block">Ir a la p&aacute;gina de creaci&oacute;n de juegos</i></b></small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="/js/index.js"></script>
{% endblock %}