{% extends "base.html" %}
{% block head %}
    <title>Jugar</title>
    <style>
        .map {
            min-height: 200px;
            padding: 5px 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <hr>
        <div class="container-header text-center"><h2>Juego {{ id }}</h2></div>
        <hr>

        <div class="row text-center">
            <div class="col">
                <br>
                <h3>Mis juegos</h3>
                <br>
            </div>
        </div>
    </div>
{% endblock %}