{% extends "base.html" %}
{% block head %}
    <title>Jugar</title>
    <style>
        .map {
            padding: 5px 5px;
            height: 80vh;
        }

        .sidebar {
            background: #7ebff5;
            padding: 20px;
            box-sizing: border-box;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #1b98ff;
            margin: 10px 0px;
            box-sizing: border-box;
        }

        .pista {
            background: rgba(255, 252, 82, 0.55);
            padding: 20px;
            box-sizing: border-box;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #ffd841;
            margin: 10px 0px;
            box-sizing: border-box;
        }

        li {
            margin-left: 15px;
            list-style: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <hr>
        <div class="container-header text-center"><h2>Juego {{ juego.id }}</h2></div>
        <hr>
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col text-center">
                        <h3>Mapa</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="map" id="map"></div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 ">  <!-- SIDEBAR -->
                <br>
                <div class="sidebar">
                    <h3>Opciones</h3>
                    {% if jugando %}
                        <li id="encontrar-tesoro" class="encontrar-tesoro"><a href="#">Localizar tesoro</a></li>
                        <li><a href="#pistas">Pistas</a></li>
                        <a href="/abandonarJuego/{{ juego.id }}" class="btn btn-danger">Abandonar juego</a>
                    {% else %}
                        <a href="/anadirJuego/{{ juego.id }}" class="btn btn-success">Unirme al juego</a>
                    {% endif %}
                </div>
                <br>
                <div class="sidebar">
                    <h3>Detalles</h3>
                    <li><b>Tesoros totales:</b> {{ juego.tesoros | length }}</li>
                    <li><b>Tesoros restantes juego:</b> {{ juego.tesoros_restantes }}</li>
                    <br/>
                    {% for participante in juego.participantes %}
                        {% if juego.participantes[participante]['email'] == user.id %}
                            <li><b>Mis tesoros encontrados:</b> {{ juego.participantes[participante]['tesoros'] }}</li>
                            <li><b>Mis tesoros
                                restantes:</b> {{ juego.tesoros.keys() | max | int - juego.participantes[participante]['tesoros'] }}
                            </li>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h3 style="margin-top: 30px;">Pistas</h3>
                <div class="row">
                    <div class="col">
                        <input type="text" class="tesoroEncontrado" value=" 36.715106299999974,-4.508592940966796"
                               hidden="">
                        {% for tesoro in juego.tesoros %}
                            <div class="row pista">
                                <div class="col">
                                    <h3>Pista {{ juego.tesoros[tesoro].identificador }}</h3>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <b>Imagen:</b><img alt="Pista" style="max-height: 400px; max-width: 400px"
                                                               src="data:image/gif;base64,{{ juego.tesoros[tesoro].get_pistas()[1] }}"/>
                                        </div>
                                        <div class="col-lg-8">
                                            <b>Texto:</b> {{ juego.tesoros[tesoro].get_pistas()[0] }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay" id="overlay">
            <div class="popup" id="popup">
                <a id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
                <h3>Añadir nuevo tesoro</h3>
                <form id="insertar-tesoro">
                    <div class="map" id="map_popup" style="height: 500px;"></div>
                    <!-- Cambiar por mapa de encontrar tesoro -->
                    <input type="submit" class="btn-submit" id="btn-submit" name="submitted" value="Añadir"
                           style="margin-top: 30px;"/>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        const markerSource_pop = new ol.source.Vector();
        var map_pop = new ol.Map({
            target: 'map_popup',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                new ol.layer.Vector({
                    source: markerSource_pop
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([-4.4785522, 36.7151063]),
                zoom: 14
            })
        });
        $(document).ready(function () {
            const markerSource = new ol.source.Vector();
            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                    new ol.layer.Vector({
                        source: markerSource
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([-4.4785522, 36.7151063]),
                    zoom: 14
                })
            });

            var coordinadas = document.getElementsByClassName("tesoroEncontrado");
            for (let tesoro of coordinadas) {
                let lon = tesoro.value.split(",")[0];
                let lat = tesoro.value.split(",")[1];
                var iconFeature = new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.transform([lat, lon], 'EPSG:4326',
                        'EPSG:3857')),
                    population: 4000,
                    rainfall: 500
                });

                var myStyle = new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: 10,
                        fill: new ol.style.Fill({color: [102, 255, 102]}),
                        stroke: new ol.style.Stroke({
                            color: [0, 153, 0], width: 2
                        })
                    })
                });
                iconFeature.setStyle(myStyle);
                markerSource.addFeature(iconFeature);
                markerSource_pop.addFeature(iconFeature);
            }
        });


        $('#encontrar-tesoro').click(function () {
            $("#overlay").addClass("active");
            $("#popup").addClass("active");
        });

        $('#btn-cerrar-popup').click(function () {
            $("#overlay").removeClass("active");
            $("#popup").removeClass("active");
        });
    </script>
{% endblock %}