{% extends "base.html" %}
{% block head %}
    <title>Inicio</title>
    <style>
        .map {
            min-height: 250px;
            padding: 5px 5px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <br>
            <input type="button" id="add_field" value="Añadir pista">
        </div>
    </div>
    <div class="container-fluid">
            <form action="/main.py" method="post">
                <div id="listas">
                    <div class="container">
                        <div class="row">
                            <div class="col-3">
                                <div class="map" id="map"/>
                            </div>
                        </div>
                    </div>
                </div>
             <div class="col text-center">
                <br>
                <input type="submit" value="OK">
            </div>
            </form>
     </div>
    <script type="text/javascript">
        var x = 1;
         var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([-4.4785522, 36.7151063]),
                zoom: 4
            })
        });


        $('#add_field').click(function () {
            $('#listas').append('<div class="row">\
                        <div class="col-4">\
                            <p> ID tesoro: <input type="number" name="id[]" value='+x+' readonly></p>\
                        </div>\
                        <div class="col-4">\
                            <p>Pista Texto: <input type="text" name="pistaT[]"></p>\
                        </div>\
                        \<div class="col-4">\
                            <p>Pista Imagen: <input type="file" name="pistaI[]"></p>\
                        </div>\
                        </div>');
            x++;
        });

        var map2 = new ol.Map({
            target: 'map2',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([-4.4785522, 36.7151063]),
                zoom: 4
            })
        });
    </script>
{% endblock %}