{% extends "base.html" %}
{% block head %}
    <title>Inicio</title>
    <style>
        .map {
            min-height: 300px;
            padding: 5px 5px;
        }

        .juego{
            background: #dbefff;
            padding: 5px;
            box-sizing:border-box;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #1b98ff;
            margin: 10px 0px;
            text-decoration: none;
            box-sizing: border-box;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col text-center">
            <br>
            <input type="button" id="add_field" value="Añadir pista">
        </div>
    </div>
    <div class="container-fluid">
            <form action="/recogerdatos" method="get">
                <div id="listas">
                    <div class="container">
                        <div class="row">
                            <div class="col align-center">
                                <div class="map" id="map"/>
                            </div>
                        </div>
                    </div>
                </div>
             <div class="col text-center">
                <br>
                <input type="submit" value="OK">
            </div>
            </form>
     </div>
    <script type="text/javascript">

        /*
        var geo;

        function obtainPolygonURL(){

            var urlLonLat='https://nominatim.openstreetmap.org/reverse?format=json&lon=' + longitud + '&lat=' + latitud;

            $.getJSON(urlLonLat, function(data0) {

            var City = data0.address.city;
            //console.log(data0);

            var urlLocation='https://nominatim.openstreetmap.org/search?format=json&q=' + City;

                $.getJSON(urlLocation, function(data1) {

                var CityLoca = data1[0];
                var urlPoly = 'https://nominatim.openstreetmap.org/reverse?format=json&osm_id=' + CityLoca.osm_id + '&osm_type=R&polygon_geojson=1';

                    $.getJSON(urlPoly, function(data2) {

                            //console.log(data);
                            geo = data2;

                    });
                });
             });
        }



        obtainPolygonURL();

        */

        var x = 1;

        //Bound para España
        //var newBound1= ol.proj.transform([-12.586875, 35.796490] , 'EPSG:4326', 'EPSG:3857'); // console.log(newBound1); -> [-1401164.5156785853, 4272654.721278845]
        //var newBound2= ol.proj.transform([5.254922, 43.049677] , 'EPSG:4326', 'EPSG:3857'); // console.log(newBound2); -> [584975.2411983708, 5319536.252219139]


        var styles = {
          'MultiPolygon': new ol.style.Style({
            stroke: new ol.style.Stroke({
              color: 'blue',
                  lineDash: [4],
                  width: 3
                }),
                fill: new ol.style.Fill({
                  color: 'rgba(0, 0, 255, 0.1)'
            })
          })/*,
            'Polygon': new ol.style.Style({
            stroke: new ol.style.Stroke({
                  color: 'blue',
                  lineDash: [4],
                  width: 3
                }),
                fill: new ol.style.Fill({
                  color: 'rgba(0, 0, 255, 0.1)'
                })
              })
*/
        };

        var styleFunction = function(feature) {
          return styles[feature.getGeometry().getType()];
        };

        //Coordenadas random para formar el polígono -> [longitud, latitud]

        var PolyCoor1 = ol.proj.transform([-4.5878887, 36.7841131] , 'EPSG:4326', 'EPSG:3857');
        var PolyCoor2 = ol.proj.transform([-4.5812935, 36.7685439] , 'EPSG:4326', 'EPSG:3857');
        var PolyCoor3 = ol.proj.transform([-4.2936721, 36.7778861], 'EPSG:4326', 'EPSG:3857');
        var PolyCoor4 = ol.proj.transform([-4.3812535, 36.87574] , 'EPSG:4326', 'EPSG:3857');

        var geojsonObject = {
            "type":"FeatureCollection",
            'properties': {
                'name': 'EPSG:3857'
            },
            "features":[
                {
                    "type": "Feature",
                    "geometry": {
                        "type": "MultiPolygon",
                        "coordinates": [[[PolyCoor1, PolyCoor2, PolyCoor3, PolyCoor4]]]
                    }
                }]
        };


        //console.log(PolyCoor1);
        //console.log(PolyCoor2);
        //console.log(PolyCoor3);
        //console.log(PolyCoor4);


        var vectorSource = new ol.source.Vector({
            features: (new ol.format.GeoJSON()).readFeatures(geojsonObject, 'EPSG:3857')
        });

        var vectorLayer = new ol.layer.Vector({
            source : vectorSource,
            style: styleFunction
        });

        var cen= ol.proj.transform([-4.4785522, 36.7151063], 'EPSG:4326', 'EPSG:3857');

        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                }),
                vectorLayer
            ],
            view: new ol.View({
                center: cen,
                extent: [-1401164.5156785853,4272654.721278845,584975.2411983708,5479536.252219139],
                zoom: 9
            })
        });

        $('#add_field').click(function () {
            $('#listas').append('<div class="row juego">\
                        <div class="row align-items-center">\
                            <div class="col">\
                                <br>\
                                <p> ID tesoro: '+x+'</p>\
                                <input type="hidden" name="ID_'+x+'" value='+x+'>\
                            </div>\
                            <div class="col">\
                                <br>\
                                <p>Pista Texto: <input type="text" name="pista_texto_'+x+'"></p>\
                            </div>\
                            \<div class="col">\
                              <br>\
                                <p>Pista Imagen: <input type="file" name="pista_imagen_'+x+'"></p>\
                            </div>\
                        </div>\
                        </div>');
            x++;
        });

    </script>
{% endblock %}