<!DOCTYPE html>
<html>

<body>
<p> {{ iden }}</p>

</body>

</html>

<div class="row juego">
    <div class="row align-items-center">
        <div class="col">
            <br>
            <p> ID tesoro: '+x+'</p>
            <input type="hidden" name="tesoro'+x+'" value='+x+'>
        </div>
        <div class="col">
            <br>
            <p>Pista Texto: <input type="text" name="tesoro'+x+'"></p>
        </div>
        <div class="col">
          <br>
            <p>Pista Imagen: <input type="file" name="tesoro'+x+'"></p>
        </div>
    </div>
</div>

