{% extends "base.html" %}
{% block head %}
    <title>Jugar</title>
    <style>
        .map {
            padding: 5px 5px;
            height: 80vh;
        }

        li {
            margin-left: 15px;
            list-style: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <hr>
        <div class="container-header text-center"><h3>Juego {{ juego.titulo }}</h3></div>
        <hr>
        <div class="row flex-x1-nowrap" style="margin-bottom: 10px;">
            <div class="offset-lg-2 col-lg-7 col-9">
                <div class="map" id="map"></div>
                {% if juego.estado == False %}
                    {% for tesoro in juego.tesoros.values() %}
                        <input hidden type="text" class="tesoroEncontrado"
                               value="{{ tesoro.longitud }}, {{ tesoro.latitud }}">
                    {% endfor %}
                {% else %}
                    {% for tesoro in encontrados %}
                        <input hidden type="text" class="tesoroEncontrado"
                               value="{{ tesoro.longitud }}, {{ tesoro.latitud }}">
                    {% endfor %}
                {% endif %}
            </div>
            <div class="col-3">
                <div class="card bg-light" style="margin-top: 15px;">
                    <div class="card-header text-center">
                        <h3>Detalles</h3>
                    </div>
                    <div class="card-body">
                        <div class="text-left">
                            <div class="text-left" style="margin-bottom: 5px;">
                                <a href="https://twitter.com/intent/tweet?button_hashtag=CazaTesoroGrupoA{{ juego.titulo.replace(' ', '')[:15] }}&ref_src=twsrc%5Etfw"
                                   class="twitter-hashtag-button" data-show-count="false"></a>
                            </div>
                            <br/>
                            <b><u>Descripci&oacute;n</u></b>
                            <br/>
                            {{ juego.descripcion }}
                            <br/>
                            <br/>
                            <b>Tesoros totales:</b> {{ juego.tesoros | length }}
                            <br/>
                            <b>Tesoros restantes juego:</b> {{ juego.tesoros_restantes }}
                            <div class="text-center" style="margin-top: 5px;">
                                <a href="/reiniciarJuego/{{ juego.id }}" class="btn btn-warning">Reiniciar</a>
                                <a href="/eliminar_juego/{{ juego.id }}" class="btn btn-danger">Borrar juego</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-light" style="margin-top: 15px;">
                    <div class="card-header text-center">
                        <h3>Pistas</h3>
                    </div>
                    <div class="card-body">
                        <div class="text-left">
                            <input hidden type="text" value="{{ limite_inferior }}~{{ limite_superior }}"
                                   id="dimensiones">
                            <input hidden type="text" value="{{ centro_lon }},{{ centro_lat }}" id="centro">
                            {% for tesoro in juego.tesoros %}
                                <input hidden type="text" class="tesoro"
                                       value="{{ juego.tesoros[tesoro].longitud }},{{ juego.tesoros[tesoro].latitud }}~{{ juego.tesoros[tesoro].identificador }}">
                                <div style="margin-top: 5px;">
                                    <b>Pista Tesoro {{ juego.tesoros[tesoro].identificador }}</b>:
                                    {% if juego.tesoros[tesoro].get_pistas()[1] %}
                                        <a href="#modal{{ juego.tesoros[tesoro].identificador }}" data-toggle="modal"
                                           data-target="#modal{{ juego.tesoros[tesoro].identificador }}">Ver imagen de
                                            la pista</a>
                                        <div class="modal fade modal{{ juego.tesoros[tesoro].identificador }}"
                                             id="modal{{ juego.tesoros[tesoro].identificador }}" tabindex="-1"
                                             role="dialog"
                                             aria-labelledby="modal{{ juego.tesoros[tesoro].identificador }}"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                                            Pista {{ juego.tesoros[tesoro].identificador }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <img alt="Pista" style="max-height: 100%; max-width: 100%"
                                                             src="data:image/gif;base64,{{ juego.tesoros[tesoro].get_pistas()[1] }}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <br>
                                    {{ juego.tesoros[tesoro].get_pistas()[0] }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $(document).ready(function () {
            let centro = document.getElementById("centro").value;
            let dimensiones = document.getElementById("dimensiones").value;
            const markerSource = new ol.source.Vector();
            let mapCentro = [];
            mapCentro.push(parseFloat(centro.split(",")[1]));
            mapCentro.push(parseFloat(centro.split(",")[0]));
            let limiteInferior = dimensiones.split("~")[0].replace("[", "").replace("]", "");
            let limiteInferiorArray = [];
            limiteInferiorArray.push(parseFloat(limiteInferior.split(",")[1]));
            limiteInferiorArray.push(parseFloat(limiteInferior.split(",")[0]));
            limiteInferiorArray = ol.proj.transform(limiteInferiorArray, 'EPSG:4326', 'EPSG:3857');
            let limiteSuperior = dimensiones.split("~")[1].replace("[", "").replace("]", "");
            let limiteSuperiorArray = [];
            limiteSuperiorArray.push(parseFloat(limiteSuperior.split(",")[1]));
            limiteSuperiorArray.push(parseFloat(limiteSuperior.split(",")[0]));
            limiteSuperiorArray = ol.proj.transform(limiteSuperiorArray, 'EPSG:4326', 'EPSG:3857');
            new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    }),
                    new ol.layer.Vector({
                        source: markerSource
                    })
                ],
                view: new ol.View({
                    extent: [limiteInferiorArray[0] - 500, limiteInferiorArray[1] - 500, limiteSuperiorArray[0] + 1000, limiteSuperiorArray[1] + 1000],
                    center: ol.proj.fromLonLat(mapCentro),
                    zoom: -5
                })
            });

            var coordinadas = document.getElementsByClassName("tesoro");
            for (let tesoro of coordinadas) {
                let lon = tesoro.value.split(",")[0];
                let lat = tesoro.value.split(",")[1].split("~")[0];
                let id = tesoro.value.split(",")[1].split("~")[1];
                var iconFeature = new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.transform([lat, lon], 'EPSG:4326',
                        'EPSG:3857')),
                    population: 4000,
                    rainfall: 500
                });

                var myStyle = new ol.style.Style({
                    image: new ol.style.Circle({
                        radius: 10,
                        fill: new ol.style.Fill({color: 'yellow'}),
                        stroke: new ol.style.Stroke({
                            color: [255, 204, 0], width: 2
                        })
                    }),
                    text: new ol.style.Text({
                        text: id,
                    })
                });
                iconFeature.setStyle(myStyle);
                markerSource.addFeature(iconFeature);
            }
        })
    </script>
{% endblock %}