{% extends "base.html" %}
{% block head %}
    <title>Jugar</title>
    <style>
        .map {
            padding: 5px 5px;
            height: 80vh;
        }

        li {
            margin-left: 15px;
            list-style: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <hr>
        <div class="container-header text-center"><h3>Juego {{ juego.titulo }}</h3></div>
        <hr>
        <div class="row flex-x1-nowrap" style="margin-bottom: 10px;">
            <div class="offset-lg-2 col-lg-7 col-md-9">
                <div class="map" id="map"></div>
                {% if juego.estado == False %}
                    {% for tesoro in juego.tesoros.values() %}
                        <input hidden type="text" class="tesoroEncontrado"
                               value="{{ tesoro.longitud }}, {{ tesoro.latitud }}">
                    {% endfor %}
                {% else %}
                    {% for tesoro in encontrados %}
                        <input hidden type="text" class="tesoroEncontrado"
                               value="{{ tesoro.longitud }}, {{ tesoro.latitud }}">
                    {% endfor %}
                {% endif %}
                <div style="margin-top: 10px;">
                    <hr>
                    <h4><b><i>Comentarios</i></b></h4>
                    <hr>
                    {% if mensajes %}
                        {% for men in mensajes %}
                            <div class="card" style=" margin-bottom: 10px;">
                                {% if juego.creador == men.creador %}
                                    <div class="card-header text-info"><span
                                            style="font-size: small;"><i>{{ men.fecha }}</i></span> -
                                        <b>{{ men.creador }} (Organizador)</b></div>
                                {% else %}
                                    <div class="card-header"><span
                                            style="font-size: small;"><i>{{ men.fecha }}</i></span> -
                                        <b>{{ men.creador }}</b></div>
                                {% endif %}
                                <div class="card-body">
                                    <p class="card-text">{{ men.mensaje }}</p>
                                </div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h6><b>No hay mensajes</b></h6>
                    {% endif %}
                    <hr>
                    <form action="/organizador/nuevoMensaje/{{ juego.id }}" method="post">
                        <div style="width: 100%; max-height: 100px; min-height: 100px;">
                            <label for="nuevoMensaje"></label>
                            <textarea id="nuevoMensaje" name="nuevoMensaje" maxlength="1000"
                                      style="width: 100%; min-height: 80px;" placeholder="Escriba aqui su comentario."
                                      required></textarea>
                        </div>
                        <br>
                        <button class="btn btn-success" style="margin-top: 5px;">Enviar mensaje</button>
                    </form>
                </div>
            </div>
            <div class="col-md-3" style="margin: 10px 0px">
                <div class="card bg-light">
                    <div class="card-header text-center">
                        <h3>Detalles</h3>
                    </div>
                    <div class="card-body">
                        <div class="text-left">
                            <div class="text-left" style="margin-bottom: 5px;">
                                <a href="https://twitter.com/intent/tweet?button_hashtag=CazaTesoroGrupoA{{ juego.titulo.replace(' ', '')[:15] }}&ref_src=twsrc%5Etfw"
                                   class="twitter-hashtag-button" data-show-count="false"></a>
                            </div>
                            <br/>
                            <b><u>Descripci&oacute;n</u></b>
                            <br/>
                            {{ juego.descripcion }}
                            <br/>
                            <br/>
                            <b>Tesoros totales:</b> {{ juego.tesoros | length }}
                            <br/>
                            <b>Tesoros restantes juego:</b> {{ juego.tesoros_restantes }}
                            <div class="text-center" style="margin-top: 5px;">
                                <a href="/organizador/reiniciarJuego/{{ juego.id }}" class="btn btn-warning">Reiniciar</a>
                                <a href="/organizador/eliminarJuego/{{ juego.id }}" class="btn btn-danger">Borrar juego</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card bg-light" style="margin-top: 15px;">
                    <div class="card-header text-center">
                        <h3>Pistas</h3>
                    </div>
                    <div class="card-body">
                        <div class="text-left">
                            <input hidden type="text" value="{{ limite_inferior }}~{{ limite_superior }}"
                                   id="dimensiones">
                            <input hidden type="text" value="{{ centro_lon }},{{ centro_lat }}" id="centro">
                            {% for tesoro in juego.tesoros %}
                                <input hidden type="text" class="tesoro"
                                       value="{{ juego.tesoros[tesoro].longitud }},{{ juego.tesoros[tesoro].latitud }}~{{ juego.tesoros[tesoro].identificador }}">
                                <div style="margin-top: 5px;">
                                    <b>Pista Tesoro {{ juego.tesoros[tesoro].identificador }}</b>:
                                    {% if juego.tesoros[tesoro].get_pistas()[1] %}
                                        <a href="#modal{{ juego.tesoros[tesoro].identificador }}" data-toggle="modal"
                                           data-target="#modal{{ juego.tesoros[tesoro].identificador }}">Ver imagen de
                                            la pista</a>
                                        <div class="modal fade modal{{ juego.tesoros[tesoro].identificador }}"
                                             id="modal{{ juego.tesoros[tesoro].identificador }}" tabindex="-1"
                                             role="dialog"
                                             aria-labelledby="modal{{ juego.tesoros[tesoro].identificador }}"
                                             aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="exampleModalLongTitle">
                                                            Pista {{ juego.tesoros[tesoro].identificador }}</h5>
                                                        <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <img alt="Pista" style="max-height: 100%; max-width: 100%"
                                                             src="data:image/gif;base64,{{ juego.tesoros[tesoro].get_pistas()[1] }}"/>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                    <br>
                                    {{ juego.tesoros[tesoro].get_pistas()[0] }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="/js/centroYDimensiones.js"></script>
    <script type="text/javascript" src="/js/visualizar.js"></script>
{% endblock %}