{% extends "base.html" %}
{% block head %}
    <title>Jugar</title>
    <style>
        .map {
            padding: 5px 5px;
            height: 80vh;
        }
        .sidebar{
            background: #7ebff5;
            padding: 20px;
            box-sizing:border-box;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #1b98ff;
            margin: 10px 0px;
            box-sizing: border-box;
        }
        .pista{
            background: rgba(255, 252, 82, 0.55);
            padding: 20px;
            box-sizing:border-box;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #ffd841;
            margin: 10px 0px;
            box-sizing: border-box;
        }
        li{
            margin-left: 15px;
            list-style:none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <hr>
        <div class="container-header text-center"><h2>Juego {{ juego.id }}</h2></div>
        <hr>

        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    <div class="col text-center">
                        <h3>Mapa</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="map" id="map"></div>
                    </div>
                </div>
            </div>

             <div class="col-lg-3 ">  <!-- SIDEBAR -->
                <br>
                <div class="sidebar">
                    <h3>Detalles</h3>
                    <li>Tesoros totales: {{ juego.tesoros.keys() | max }}</li>
                    <li>Tesoros restantes juego: {{juego.tesoros_restantes}}</li>
                    <br>
                    <li><strong>Jugadores:</strong></li>
                    {% for participante in juego.participantes %}
                        <li>{{juego.participantes[participante]['email']}}</li>
                        <ul>
                            <li>Tesoros encontrados:{{juego.participantes[participante]['tesoros']}}</li>
                            <li>Tesoros restantes: {{juego.tesoros.keys() | max | int - juego.participantes[participante]['tesoros']}}</li>
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <A name="pistas"><h3 style="margin-top: 30px;">Pistas</h3></A>
                <div class="row">
                    <div class="col">
                        {% for tesoro in juego.tesoros %}
                            <div class="row pista">
                                <div class="col">
                                    <h3>Pista {{ juego.tesoros[tesoro].identificador }}</h3>

                                    <div class="row">
                                        <div class="col-lg-4">
                                            <img src="data:image/gif;base64,{{ juego.tesoros[tesoro].get_pistas()[1] }}"/>
                                        </div>
                                        <div class="col-lg-8">
                                            Texto: {{ juego.tesoros[tesoro].get_pistas()[0]}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        var map = new ol.Map({
            target: 'map',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM()
                })
            ],
            view: new ol.View({
                center: ol.proj.fromLonLat([-4.4785522, 36.7151063]),
                zoom: 4
            })
        });
    </script>
{% endblock %}